<template>
  <div class="container">
    <b-navbar toggleable="lg" type="light" variant="white">
      <b-navbar-brand to="/">
        <img id="m_logo" src="../assets/logo.png" alt="logogyc" />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item class="text-uppercase" to="/">Inicio</b-nav-item>

          <b-nav-item class="text-uppercase" to="/about">La agencia</b-nav-item>

          <b-nav-item-dropdown
            class="text-uppercase"
            to="/services"
            text="Servicios"
            right
          >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#servicios_web'"
              >Servicios WEB</b-dropdown-item
            >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#prod_audiovisual'"
              >Producion Audivisual</b-dropdown-item
            >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#img_corporativa'"
              >Imagen Corporativa</b-dropdown-item
            >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#ps_marca'"
              >Posicionamiento de marca</b-dropdown-item
            >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#call_center'"
              >Call center</b-dropdown-item
            >
            <b-dropdown-item
              class="text-uppercase"
              to="/services"
              v-scroll-to="'#hosting_datacenter'"
              >Hosting y datacenter</b-dropdown-item
            >
          </b-nav-item-dropdown>

          <b-nav-item class="text-uppercase" to="/contact">Contacto</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<style>
@media screen and (max-width: 620px) {
  #primary-nav {
    background-color: skyblue;
  }
}
</style>