<template>
  <div class="row align-self-center justify-content-center bg-footer">
    <p class="my-2">&copy; 2020 By G Y C Marketing y Publicidad</p>
  </div>
</template>

<style>
.bg-footer {
  background-color: #e8e6e6;
  font-size: 18px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  p {
    font-size: 12px;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  .bg-footer p {
    font-size: 10px !important;
    padding: 20px 0px 0px 0px !important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 599px) {
  .bg-footer p {
    font-size: 12px !important;
    padding: 20px 0px 0px 0px !important;
  }
}
</style>