@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 6px solid transparent;
    background-clip: padding-box;
    background: #787878;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
    background-color: #fff;
    background: linear-gradient(to right, #000000, #000000 1px, #000000 1px, #000000);
}

html, body {
    background: #fff;
    color: #575757;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden;
}

@media (min-width: 2380px) {
    body {
        border-right: 1px solid #e8e6e6;
        border-left: 1px solid #e8e6e6;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-weight: bold;
}

.dropdown-item {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
}

h1, h2, h3, h4 {
    font-family: fantasy;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* .show>.dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    min-width: 15rem;
} */

.dropdown-menu {
    border: 1px solid rgb(255 255 255 / 0.15);
    border-radius: 0rem;
}

.dropdown-item {
    padding: 0.45rem 1.5rem;
}

.dropdown-toggle::after {
    display: none;
}

.constrained {
    max-width: 2380px;
    margin: 0 auto;
}

.jumbotron {
    border-radius: 0;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-toggler {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    border: 0!important;
}

.navbar-light .navbar-toggler:focus {
    outline: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)  {
    html, body {
        background: #fff;
        color: #575757;
        font-family: 'Libre Baskerville', serif;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        height: 100%;
    }

    .p-sm-2 {
        padding: 13px!important;
    }
    p {
        font-size: 12px;
        text-align: center;
    }
    #m_logo {
        width: 100px;
        height: auto;
    }
    #carousel-fade {
        margin-top: 5px;
    }
    #carousel-1 {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .full-width-div {
        position: absolute;
        min-width: 100%;
        height: 798px;
        left: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 35px;
        font-family: fantasy;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        font-family: fantasy;
    }
}
